body {
    font: 13px sans-serif;
}

svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis text {
    font: 10px sans-serif;
}

.canvas {
    fill: none;
    pointer-events: all;
}

.focus text {
    font: 18px sans-serif;
    font-weight: bold;
}

.crosshair {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}

#yearSelect,
#crosshairSelect,
#dataSelect {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    height: 40px;
    vertical-align: middle;
}

#crosshairSelect,
#dataSelect {
    width: 300px;
}

#yearSelect {
    width: 65px;
}

input {
    display: inline;
    vertical-align: bottom;
}
